<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <!-- A base URL of your web api application -->
    <add key="MonitorUrl" value="http://localhost:53102" />
    
    <add key="TemperatureSensorCount" value="5"/>
    <add key="PressureSensorCount" value="11"/>
    <add key="VibrationSensorCount" value="2"/>
  </appSettings>
</configuration>